{% extends 'main.html' %}

{% block content %}
<div class="container mt-5" >

    <form method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        
        <div class="row">
            <h1>{{uut.sn}}</h1>
            {% for row in form %}
                <div class=" form-group col-md-6 col-sm-6">
                    <label for="">{{row.label}}</label>
                    {{row}}
                </div>
                <br>
            {% endfor %}
            <div class="form-group col-md-6 col-sm-6">
                <input class="form-check-input" name="status" type="checkbox"  value="on" checked>
                <label class="form-check-label" for="inlineCheckbox3">Status</label>
              </div>
        </div>
       
        

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div> 

<style>
    .form{
        display: flex;
    }
</style>

{% endblock %}


