{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Maintenance</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'maintenance_form' %}" class="btn border-0">Register Maintenance</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'spare_form' %}" class="btn border-0">Register Spare</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'show_Maintenance' %}" class="btn border-0">Active Maintenace</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

