{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Metrics & Reports</li>
        </ol>
    </nav>
    
    <h1>Metrics & Reports</h1>
    <div class="row d-flex justify-content-center">
        <!-- Métricas -->
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'yield_dashboard' %}" class="btn border-0">Yields</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'weekly_failure_report' %}" class="btn border-0">Failure analytics
</a>
                </div>
            </div>
        </div>
        <!-- Reportes -->
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'tableRejects' %}" class="btn border-0">Rejections table</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'tableFailures' %}" class="btn border-0">Failure table</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}