{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Rejects</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'uut_form' %}" class="btn border-0">Register UUT</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'showUuts' %}" class="btn border-0">UUT</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'showRejecteds' %}" class="btn border-0">Rejects</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'boom_form' %}" class="btn border-0">Register BOOM</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'errorMessage_form' %}" class="btn border-0">Register Error Message</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center mt-3">
            <div class="card card-menu">
                <div class="card-body">
                    <a href="{% url 'station_form' %}" class="btn border-0">Register Station</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

