{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1>Change Password</h1>
        <div class="col-sm-12 col-md-12">
            <form action="" method="POST">
                {% csrf_token %}

                <label for="">New Password</label>
                <input type="password" name="new-password" class="form-control mb-2 col-md-6 col-sm-6 text-white bg-black">

                <label for="">Validate Password</label>
                <input type="password" name="val-password" class="form-control mb-2 col-md-6 col-sm-6 text-white bg-black">

                <input type="submit" value="Submit" class="btn btn-primary mt-5">
            </form>
        </div>
    </div>
</div>
{% endblock content %}