{% extends 'main.html' %}

{% block content %}

<div class="container">
    <h1>Active Uuts</h1>
    <div class="row">
    {% for uut in uuts %}
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">{{uut.sn}}</h5>
                    <hr>
                    <p>Model : {{uut.pn_b.product}}</p>
                    <p>User : {{uut.employee_e.employeeName}}</p>
                    <p>Date : {{uut.date}}</p>
                    <a class="btn btn-primary mx-4" href="{% url 'failure_form' uut.sn %}">Register Fail</a>
                    <a href="" class="btn btn-danger mx-4">Finish tests</a>
                </div>
            </div>
        </div>
    
    {% endfor %}
    </div>
</div>

{% endblock %}
