<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}">TIM_DB</a>
        <hr>
    </div>
    <a href="{% url 'employees_form' %}">Register employees</a>
    <a href="{% url 'uut_form' %}">Register UUT</a>
    <a href="{% url 'failure_form' %}">Register Failure</a>
    <a href="{% url 'boom_form' %}">Register BOOM</a>
    <a href="{% url 'rejected_form' %}">Register Rejected</a>
    <a href="{% url 'errorMessage_form' %}">Register ErrorMessage</a>
    <a href="{% url 'station_form' %}">Register Station</a>
    <a href="{% url 'maintenance_form' %}">Register Maintenance</a>
    <a href="{% url 'spare_form' %}">Register Spare</a>
    {% block content %}
        
    {% endblock  %}
</body>
</html>