<nav  class="navbar fixed-top " style="background-color: #0049BF;">
                
    <div class="container-fluid" >
        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="text-white navbar-brand" href="{% url 'home'%}">TIM</a>


        <a class="text-white navbar-brand" href="#">TIM</a>
        {% if request.path == '/tableRejects/' %}
        <form class="d-flex mt-3" role="search" method="GET"  action="{% url 'tableRejects' %}">
            <input name="q" class="form-control me-2" type="search" placeholder="Sn, Model" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
        {% else %}

        <form class="d-flex mt-3" role="search" method="GET"  action="{% url 'showUuts' %}">
            <input name="q" class="form-control me-2" type="search" placeholder="Sn, Model" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
        {% endif %}
        <div class=" offcanvas offcanvas-start " style="background-color: #0049BF;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">TIM</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-header">
                <span class="text-white offcanvas-title ">{{employe}}</span>
                <span class="text-white offcanvas-title">{{employe.privileges}}</span>
            </div>
            <hr>
            <div class="offcanvas-body">
                {% if employe.privileges != 'NA' %}
                <li style="list-style: none;" class=" mb-4 nav-item dropdown text-white">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rejects</a>
                    <ul class="dropdown-menu mb-5">
                        <li> <a class="dropdown-item" href="{% url 'uut_form' %}">Register UUT</a> </li>
                        <li> <a class="dropdown-item" href="{% url 'showUuts' %}">Fails</a> </li>
                        <li> <a class="dropdown-item" href="{% url 'showRejecteds'%}">Debug</a> </li>
                        <li> <a class="dropdown-item" href="{% url 'boom_form' %}">Register BOOM</a> </li>
                        <li> <a class="dropdown-item" href="{% url 'errorMessage_form' %}">Register ErrorMessage</a> </li>
                        <li> <a class="dropdown-item" href="{% url 'station_form' %}">Register Station</a> </li>
                        <li>  <a class="nav-link text-white" href="{% url 'tableRejects' %}">Table Rejects</a> </li>
                    </ul>
                </li>
                <li style="list-style: none;" class=" mb-4 nav-item dropdown text-white">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Maintenance</a>
                    <ul class="dropdown-menu mb-5">
                        <li> <a class="dropdown-item" href="{% url 'maintenance_form' %}">Register Maintenance</a> </li>
                        <li> <a class="dropdown-item" href="{% url 'spare_form' %}">Register Spare</a> </li>
                    </ul>
                </li>
                <li style="list-style: none;" class=" mb-4 nav-item dropdown text-white">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu mb-5">
                        <li> <a class="dropdown-item" href="{% url 'user' 1 %}">Profile</a> </li>
                    </ul>
                </li>

                {% endif %}
                <hr>
                <li style="list-style: none;" class=" mb-4 nav-item dropdown text-white">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                    <ul class="dropdown-menu mb-5">
                        
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% if employe.pmd == True%}
                            <li>
                                <button class="dropdown-item" value="PMDU" name="bt-project" type="submit">PMDU</button>
                            </li>
                            {% endif %}
                            
                            {% if employe.dell == True%}
                            <li>
                                <button class="dropdown-item" value="DELL" name="bt-project" type="submit">DELL</button>
                            </li>
                            {% endif %}
                            
                            {% if employe.switch == True%}
                            <li>
                                <button class="dropdown-item" value="1G-SW" name="bt-project" type="submit">1G-SW</button>
                            </li>
                            {% endif %}
                        </form>
                    </ul>
                </li>
            </div>
            <a class="" id="link-logout" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</nav>
